Faker==40.11.1
greenlet==3.3.2
iniconfig==2.3.0
numpy==2.4.3
packaging==26.0
pandas==3.0.1
pluggy==1.6.0
psycopg2-binary==2.9.11
Pygments==2.19.2
pytest==9.0.2
python-dateutil==2.9.0.post0
six==1.17.0
SQLAlchemy==2.0.48
typing_extensions==4.15.0
